/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-logo-width: 10rem;
  --color: #4f3131;
  --background-color: #fcf9f4;
  --sticky-color: #464646;
  --sticky-bgc: #fafaf8;
}

html {
  -webkit-tap-highlight-color: transparent;
}

/* stage-animation */

@keyframes stage-enter {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .opacity-0[data-animate],
  .opacity-0[data-animate-layer] {
    opacity: 1;
  }

  [data-animate],
  [data-animate-layer] > * {
    --stagger: 0;
    --delay: 30ms;
    --start: 0ms;
    animation: stage-enter 0.6s both;
    animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
  }

  [data-animate-layer] > * {
    --delay: 50ms;
  }
  [data-animate-layer] > *:nth-child(1) {
    --stagger: 1;
  }
  [data-animate-layer] > *:nth-child(2) {
    --stagger: 2;
  }
  [data-animate-layer] > *:nth-child(3) {
    --stagger: 3;
  }
  [data-animate-layer] > *:nth-child(4) {
    --stagger: 4;
  }
  [data-animate-layer] > *:nth-child(5) {
    --stagger: 5;
  }
  [data-animate-layer] > *:nth-child(6) {
    --stagger: 6;
  }
  [data-animate-layer] > *:nth-child(7) {
    --stagger: 7;
  }
  [data-animate-layer] > *:nth-child(8) {
    --stagger: 8;
  }
  [data-animate-layer] > *:nth-child(9) {
    --stagger: 9;
  }
  [data-animate-layer] > *:nth-child(10) {
    --stagger: 10;
  }
  [data-animate-layer] > *:nth-child(11) {
    --stagger: 11;
  }
  [data-animate-layer] > *:nth-child(12) {
    --stagger: 12;
  }
  [data-animate-layer] > *:nth-child(13) {
    --stagger: 13;
  }
  [data-animate-layer] > *:nth-child(14) {
    --stagger: 14;
  }
  [data-animate-layer] > *:nth-child(15) {
    --stagger: 15;
  }
  [data-animate-layer] > *:nth-child(16) {
    --stagger: 16;
  }
  [data-animate-layer] > *:nth-child(17) {
    --stagger: 17;
  }
  [data-animate-layer] > *:nth-child(18) {
    --stagger: 18;
  }
  [data-animate-layer] > *:nth-child(19) {
    --stagger: 19;
  }
  [data-animate-layer] > *:nth-child(20) {
    --stagger: 20;
  }

  [data-animate-stage='1'] {
    --stagger: 1 !important;
  }
  [data-animate-stage='2'] {
    --stagger: 2 !important;
  }
  [data-animate-stage='3'] {
    --stagger: 3 !important;
  }
  [data-animate-stage='4'] {
    --stagger: 4 !important;
  }
  [data-animate-stage='5'] {
    --stagger: 5 !important;
  }
  [data-animate-stage='6'] {
    --stagger: 6 !important;
  }
  [data-animate-stage='7'] {
    --stagger: 7 !important;
  }
  [data-animate-stage='8'] {
    --stagger: 8 !important;
  }
  [data-animate-stage='9'] {
    --stagger: 9 !important;
  }
  [data-animate-stage='10'] {
    --stagger: 10 !important;
  }
}
